body {
  color: white;
  background-color: rgb(0, 0, 0);
}

p {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
  max-height: 250px; 
  margin-top: 20px;
}

div {
  padding: 10px;
  display: flex;
  justify-content: center;
}

#http-cat {
  color: black;
}

#reload-btn {
  display: flex;
  justify-content: center;
  color: rgb(127, 29, 29)
}